<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<script src="http://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>
		<link href="http://how2j.cn/study/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
		<script src="http://how2j.cn/study/js/bootstrap/3.3.6/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="stylesheets/index.css">

		<script>
            $(function() {
                $("#searchButton").keyup(function() {
                    var page = "#";
                    var value = $("#keyword").val();

                    $.post(
                        page, {
                            "keyword": value
                        },
                        function(result) {
                            $("#checkresult").html(result);
                        }
                    );
                });
            });
		</script>

		<title>杉谱化学</title>
	</head>

	<body>
		<div class="background">
			<div class="searchDiv">
				<img class="logo" src="images/logo.jpg" id="logo" />
				<!--搜索提交keyword-->
				<form action="/search-result?pageNo=1&pageSize=4" method="post">
					<div class="search">
						<input type="text" placeholder="产品/文件" name="keyword" id="keyword"/>
						<button class="searchButton" type="submit" id="searchButton">搜索</button>
					</div>
				</form>
			</div>
			<div id="checkresult"></div>
			<!--显示辞条板块-->
            {% for product in products %}
			<div class="changchun">
				<div class="doflaot">
					<a href="#nowhere"><img src="images/product.png" /> </a>
				</div>
				<div class="doflaot">
					<a href="detail.html" class="productDescLink">
						<span class="product_name">品名:{{product.name}}</span>
						<span class="productDecs">英文名:{{product.englishName}}</span>
						<span class="category_label">工业级</span>
						<br />
						<span class="product_name_detail">学名：</span>
						<span class="productDecs">{{product.localName}}</span>
						<span class="product_name_detail">分子式：</span>
						<span class="productDecs">{{product.formula}}</span>
						<span class="product_name_detail">CAS号：</span>
						<span class="productDecs">{{product.casNum}}</span>
						<br />
						<span class="label">塑料</span>
						<span class="label">橡胶</span>
						<span class="label">涂料</span>
					</a>
				</div>
			</div>
            {%else%}
            <h1>Nothing</h1>
            {% endfor %}

			<!--显示商品板块-->
			<div class="product">
				<div class="doflaot">
					<img src="images/product.png" />
				</div>
				<div class="doflaot">
					<span class="product_name">品名</span>
					<span class="productDecs">英文名</span>
					<span class="category_label">工业级</span>
					<br />
					<span class="product_name_detail">学名：</span>
					<span class="productDecs">这里填学名</span>
					<span class="product_name_detail">分子式：</span>
					<span class="productDecs">这里填分子式</span>
					<span class="product_name_detail">CAS号：</span>
					<span class="productDecs">这里填CAS号</span>
					<br />
					<span class="label">塑料</span>
					<span class="label">橡胶</span>
					<span class="label">涂料</span>
				</div>
				<div class="doflaot" id="buy_button">
					<a href="detail.html">
						<button class="buy_Button" type="submit">立即采购</button>
					</a>
				</div>
			</div>
			<!--显示exe类型文件板块-->
			<div class="file_exe">
				<div class="doflaot">
					<img src="images/product.png" />
				</div>
				<div class="doflaot">
					<span class="product_name">百度网盘.exe</span>
					<br />
					<span class="label">塑料</span>
					<span class="label">橡胶</span>
				</div>
				<div class="doflaot">
					<!--填传过来文件的地址-->
					<a href="#" download="file">
						<button class="download_Button" type="submit">文件下载</button>
					</a>
				</div>
			</div>
			<!--显示其他类型文件板块-->
			<div class="file_other">
				<div class="doflaot">
					<img src="images/product.png" />
				</div>
				<div class="doflaot">
					<span class="product_name">财富论坛马化腾演讲.ppt</span>
					<br />
					<span class="label">塑料</span>
					<span class="label">橡胶</span>
				</div>
				<div class="doflaot">
					<button class="preview_Button" type="submit">文件预览</button>
					<!--填传过来文件的地址-->
					<a href="#" download="file">
						<button class="download_Button_2" type="submit">文件下载</button>
					</a>
				</div>
			</div>
			<!--分页控件-->
			<nav style="text-align: center;">

				<ul class="pagination">

					<li>

						<a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					{% for i in range(0, page.totalPages) %}

					<li>
						<a href="?pageNo={{i + 1}}&pageSize=4">{{i + 1}}</a>
					</li>

					{% endfor %}

					<!--
					<li>
						<a href="#">2</a>
					</li>

					<li>
						<a href="#">3</a>
					</li>

					<li>
						<a href="#">4</a>
					</li>

					<li>
						<a href="#">5</a>
					</li>
					-->

					<li>

						<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</body>

</html>