table.table {
	width: 500px;
}

div.productParamterDetail img {
	width: 653px;
	height: 175px;
}

div.productParamterPart {
	margin: 1px auto;
	max-width: 700px;
}

div.productParamterDetail {
	font-weight: 400;
	font-size: 10px;
}

div.productParamter {
	font-size: 18px;
}

td.td {
	width: 80px;
	background-color: #D7D7D7;
	font-size: 12px;
}