div.search {
	background-color: #CC85A7;
	width: 585px;
	margin: 50px auto;
	padding: 1px;
	height: 43px;
	display: block;
}

div.searchDiv {
	max-width: 1024px;
	margin: 0 auto;
	position: relative;
}

div.search input {
	width: 485px;
	border: 1px solid transparent;
	height: 39px;
	margin: 1px;
	outline: none;
}

div.search button {
	width: 91px;
	border: 1px solid transparent;
	background: #CC85A7;
	color: white;
	font-size: 20px;
	font-weight: 400;
}

img.logo {
	position: absolute;
	width: 117px;
	height: 33px;
	left: 20px;
	top: 10px;
}

body {
	font-size: 12px;
	font-family: arial;
	background-color: #F8F8F8;
	min-width: 1024px;
}

div.changchun {
	width: 980px;
	height: 128px;
	border: 1px solid white;
	background-color: white;
	margin: 1px auto;
	position: relative;
	margin-bottom: 20px;
	cursor: pointer;
}

div.product {
	width: 980px;
	height: 128px;
	border: 1px solid white;
	background-color: white;
	margin: 1px auto;
	position: relative;
	margin-bottom: 20px;
}

div.file_exe {
	width: 980px;
	height: 128px;
	border: 1px solid white;
	background-color: white;
	margin: 1px auto;
	position: relative;
	margin-bottom: 20px;
}

div.file_other {
	width: 980px;
	height: 128px;
	border: 1px solid white;
	background-color: white;
	margin: 1px auto;
	position: relative;
	margin-bottom: 20px;
}

div.doflaot {
	float: left;
}

a.productDescLink {
	text-decoration: none;
}

span.product_name {
	font-family: "arial black";
	font-weight: 500;
	font-size: 20px;
	margin: 30px 30px 30px 30px;
	padding-top: 50px;
	color: black;
	line-height: 50px;
}

span.productDecs {
	font-size: 16px;
	font-weight: 400;
	color: #999999;
}

span.product_name_detail {
	margin-left: 30px;
	margin-top: 30px;
	font-size: 16px;
	font-weight: 400;
	color: #999999;
	line-height: 30px;
}

span.label {
	border: 1px solid #CC85A7;
	background-color: #CC85A7;
	font-weight: 400;
	font-size: 13px;
	color: white;
	margin-left: 30px;
	padding: 5px 13px;
	line-height: 50px;
	border-radius: 8px;
	text-align: center;
}

span.category_label {
	border: 1px solid #CC85A7;
	font-family: "arial black";
	color: #CC85A7;
	padding: 3px 8px;
	font-weight: 400;
	font-size: 13px;
	margin-left: 30px;
	border-radius: 8px;
	text-align: center;
}

button.buy_Button {
	position: absolute;
	right: 20px;
	background-color: #CC85A7;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	font-weight: 400;
	border-radius: 8px;
	margin-top: 80px;
	cursor: pointer;
}

button.download_Button {
	position: absolute;
	background-color: #CC85A7;
	right: 20px;
	border: none;
	color: white;
	padding: 10px 20px;
	margin-top: 80px;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	font-weight: 400;
	border-radius: 8px;
	cursor: pointer;
}

button.preview_Button {
	position: absolute;
	right: 120px;
	margin-top: 80px;
	background-color: #CC85A7;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	font-weight: 400;
	border-radius: 8px;
	cursor: pointer;
}

button.download_Button_2 {
	position: absolute;
	right: 20px;
	margin-top: 80px;
	background-color: #CC85A7;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	font-weight: 400;
	border-radius: 8px;
	cursor: pointer;
}